<div class="container mx-auto my-8 px-4">
    <p class="text-lg font-semibold">Description:</p>
  <p class="leading-normal"><%= @projet.description %></p>

    <div class="flex items-center justify-start mt-6">
    <%= link_to 'Modifier', edit_projet_path(@projet), class: "btn btn-default mr-4" %>
    <%= link_to 'Retour', projets_path, class: "btn btn-default" %>
  </div>
</div>
