<div class="container mx-auto my-8 px-4">
    <p class="text-lg font-semibold">Formation:</p>
  <p class="leading-normal"><%= @formation.formation %></p>

    <div class="flex items-center justify-start mt-6">
    <%= link_to 'Modifier', edit_formation_path(@formation), class: "btn btn-default mr-4" %>
    <%= link_to 'Retour', formations_path, class: "btn btn-default" %>
  </div>
</div>
